hr {
    border-color: grey;
    border-width: 10px;
    border-style: none;
    border-top-style: dotted;
    width: 20%;
}

h1 {
    color: #171717;
}

h2 {
    color: #444444;
}

h3 {
    color: #DA0037;
}

body {
    margin: 0;
    padding: 5%;
    background-color: #EDEDED;
}

/* Class selectors */

img.avatar {
    border: dashed;
    border-width: 4px;
    border-color: #171717;
    max-width: 20%;
}

img.avatar:hover {
    max-width: 21%;
    width: 21%;
}

img.circular {
    border-radius: 30% 5%;
}

/* ID Selectors */

#top-box {
    text-align: center;
    background-image: url("../images/softoilbackbroundpainting.jpg");
}
