hr {
    border-color: #000000;
    border-width: 10px;
    border-style: none;
    border-top-style: dotted;
    width: 20%;
}

h1 {
    color: #171717;
}

h2 {
    color: #426887;
}

h3 {
    color: #de5540;
}

body {
    margin: 0;
    padding-top: 0%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #EDEDED;
    font-family: sans-serif;
}

footer {
    background-color: #171717;
    min-width: 100%;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: -3%;
    margin-right: -3%;
    margin-top: 4%;
    color: #EDEDED;
}

input[type=button], input[type=submit], input[type=reset] {
    border-radius: 28px;
    border-style: none;
    color: whitesmoke;
    font-weight: bold;
    background-color: #426887;
    width: auto;
    padding: 1% 2%;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #8aa7be;
    color: #000000;
    cursor: grab;
}

/* Class selectors */

img.avatar {
    border: dashed;
    border-width: 4px;
    border-color: #171717;
    max-width: 14%;
    border-radius: 30% 5%;
    background-color: #EDEDED;
    transition: 0.5s;
}

img.avatar:hover {
    max-width: 15%;
    width: 15%;
    transition: 0.5s;
}

img.smallcircle {
    margin: 0;
    width: 10%;
}

.page-box {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.page-box > h1 {
    font-size: 3rem;
}

.page-box > table {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    line-height: 1.5;
}

.page-box > .box-title> .smallcircle, h2{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5%;
}

/* IDs */

#my_presentation {
    background-image: url("../images/botw_.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
