hr {
    border-color: grey;
    border-width: 10px;
    border-style: none;
    border-top-style: dotted;
    width: 20%;
}

h1 {
    color: #171717;
}

h2 {
    color: #444444;
}

h3 {
    color: #DA0037;
}

body {
    margin: 0;
    padding-top: 0%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    background-color: #EDEDED;
    font-family: sans-serif;
}

/* Class selectors */

img.avatar {
    border: dashed;
    border-width: 4px;
    border-color: #171717;
    max-width: 14%;
    border-radius: 30% 5%;
}

img.avatar:hover {
    max-width: 15%;
    width: 15%;
}

img.smallcircle {
    margin: 0;
    border: dashed;
    border-width: 4px;
    border-color: #171717;
    padding: 5px;
    width: 10%;
    border-radius: 50%;
}

.page-box {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
